:root {
  --primary: #f97316;
  --text-base: #3d3d3d;
  --text-primary: #3d3d3d;
  --text-secondary: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}
